* {
    box-sizing: border-box; 
    font-family: "futura-pt-bold", sans-serif;
}

/* Root Brand Colors */
:root {
    --background: #000000;
    --secondary: #0B0B0B;
    --tertiary: #141414;
    --orange: #EA3800;
    --green: #4FDA41;
    --white: #ffffff;

    --padding: 3.5rem;

}

/* Structures */

body {
    margin: 0;
    background-color: var(--background);
    color: var(--white)
    
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    padding-inline: 1.5rem;

    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 5rem;

    background-color: var(--secondary);
}
.navBar {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.search {
    background-color: var(--tertiary);
}
.navTitle {
    display: flex;
}
.hamburger{

}
.navItems{
    display: none;
}

main {

    /* TEMP HEIGHT: */
    height: 100vh; 
}

footer {
    background-color: var(--secondary);
}

img {
    width: 100%;
}


/* -----landing-Page-------- */

.logo-wrapper{
    width: 100%;
    margin: 30vh auto;
    border: #EA3800 solid 1px;
    text-align: center;
}

.slogan{
    font-family: "futura-pt-condensed", sans-serif;
    font-weight: 700;
    border: #EA3800 solid 1px;
}

.button{
    display: block;
    background-color: #ffffff;
    padding: 1.1rem;

}

